.Weather {
  border: 4px solid #8b809d;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  color: #f3d7d2;
  font-family: "Poppins", sans-serif;
  padding: 16px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 4px;
  background:;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.5;
  font-weight: 400;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .temperature {
  font-weight: bold;
  color: #f1b5b9;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  color: #f1b5b9;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.Weather .button {
  background: #8b809d;
  color: #f1b5b9;
}
