.Weather {
  border: 1px solid #dadde1;
  color: #878787;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 4px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.5;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 85px;
  margin-right: 10px;
  display: inline-block;
  width: 85px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgba(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather .unit {
  color: rgba(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 0px;
}
